*{margin:0;padding:0;}
body{background-color: rgb(182, 200, 221);font-size: 16px;}
.Outer{width:90%;margin:auto;background-color: rgb(250, 250, 250);}
.Header{margin:auto; background-color: rgb(37, 36, 36);color: rgb(255, 102, 0);display:flex;flex-flow: row wrap;align-items: center;justify-content: space-between;}
.HeaderContent{margin:10px;}
.InstituteLogo{}
.InstituteName a{font-size: 50px;font-weight: bold;text-decoration: none;color: rgb(255, 102, 0);}
.InstituteName a:hover{color: rgb(255, 255, 255);}
.Links a, .Links a:visited{text-decoration: none;margin:2px;font-size: 22px;color: rgb(255, 255, 255);}
.Links a:hover{ color:rgb(255, 102, 0);}
.Container{background-color: rgb(255, 102, 0, 0.3);padding-bottom: 20px;}
.Footer{font-size: 22px; background-color: rgb(255, 102, 0); color:rgb(255, 255, 255);font-weight: bold; text-align: center;padding:10px;}
button {border: solid #4CAF50;padding: 10px 35px;text-align: center;text-decoration: none;
    display: inline-block;font-size: 16px;margin: 4px 2px;transition-duration: 1s;cursor: pointer;}
button:hover {background-color: #4CAF50;color: white;}